<!DOCTYPE html>
<html>
	<head> 
		<title>Hausa Wausa in your Blausa</title>
		<script src="/js/kickstart.js"></script> <!-- KICKSTART -->
		<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" /> <!-- KICKSTART -->
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all"/>
		<link rel="stylesheet" href="stylesheets/floss.css">
	<head/>

	<body>

		<video id="video_background" preload="auto" autoplay="true" loop="loop">
		    <source src="img/Mr_Polska.mp4" type="video/mp4" />          
		</video>

		<div id="loginForm" class="col_4">
			<h3><strong>Hausa Wausa</strong></h3>
			<form class="vertical" method="post" action="/login/auth">
				<input name="uname" type="text" placeholder="Username" />
				<input id="password" name="pword" type="password" placeholder="Password" />
				<input type="Submit" value="Login" /> 
			</form>
			<h6>New to Hausa Wausa? <a href="/register">Register here.</a>
		</div>

		
	</body>
</html>
		